[submodule "deps/asio/asio"]
	path = deps/asio/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "deps/catch2/catch2"]
	path = deps/catch2/catch2
	url = https://github.com/catchorg/Catch2
[submodule "deps/openpal"]
	path = deps/openpal
	url = https://github.com/automatak/openpal
[submodule "deps/spdlog/spdlog"]
	path = deps/spdlog/spdlog
	url = https://github.com/gabime/spdlog
